html {
    scroll-behavior: smooth;
}

.bblink {
    text-decoration: none;
    color: inherit;
}

.bblink:hover {
    text-decoration: none;
    color: inherit;
}

.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
}

.carousel-indicators li {
    background-color: #6C757D;
}

.zoom img {
    transition: 0.5s all ease-in-out;
}

.zoom:hover img {
    transform: scale(1.125);
}

#bbLogo {
    width: 25%;
}

@media (max-width: 576px) {
    #responsive_company {
        font-size: .80em;
    }
}

.tooltip .arrow {
    display: none !important;
}

/* None of this CSS is required for the gallery and lightbox to function.*/

/* --- BEGIN: crop images --- */
/* Optional CSS for cropping images that aren't all the same size.*/

/* Use Bootstrap breakpoints for consistency.*/
/* --bootstrap-sm: 576px; */
/* --bootstrap-md: 768px; */
/* --bootstrap-lg: 992px; */
/* --bootstrap-xl: 1200px; */

/* Crop thumbnail images.*/
#gallery img {
    height: 75vw;
    object-fit: cover;
}

/* Override padding in bootstrap col-* classes */
#gallery div {
    padding: 0;
}

@media (min-width: 576px) {
    #gallery img {
        height: 35vw;
    }
}

@media (min-width: 992px) {
    #gallery img {
        height: 18vw;
    }
}


/* Crop images in lightbox.*/
#bbModal .carousel-item img {
    height: 60vw;
    object-fit: cover;
}

@media (min-width: 576px) {

    #bbModal .modal-dialog {
        max-width: 35vw;        
    }

    #bbModal .modal-content {
        max-width: 100%;
        justify-self: center;
    }

    #bbModal .carousel-item img {
        height: auto;
    }
    
}

/* --- END: crop images --- */